@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.container{
   background-color: rgb(254,255,156);
   margin-top: 10%;
   min-height: 100%;
   max-width: 70%;
}


*{
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px; 
    padding-right: 5px; 
    padding-left:  5px; 
    font-family: 'Rubik', sans-serif;;
}

body{
    background: #ffefba;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex2{
    display: flex;
    flex-direction: row;
    
}

#foodForm{
    max-width: 30%;
    margin-left: 0px;
    padding-bottom: 5px;
    background-color: rgb(255, 230, 156);
    padding: 20px;
}

.formButtons{
    margin-top: 50px ;
}

#pName, #pPrice {
    max-width: 80%;
}

input[type = "button"]{
    width: 90%;
    padding: 2px;
    margin-top: 2px;
}

.itemList{
    flex-grow: 1;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
  }

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
  }

.new{
    background-color: royalblue;
}


